<html>
	<head>
	<link rel="stylesheet" type="text/css" href="Views/app.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	<script src="Views/app.js"></script>
	</head>
	<body ng-app="App">
	<section ng-controller="StartController as start">
		{{start.msg}}
		<br>
		<button ng-click="start.findOpponent()">Random Opponent</button>
		<br>
		<button ng-click="start.customGame()">Custom game</button>
		<game ng-hide="start.gameStarted()==false" ng-controller="GameController as app">
		</game>
	</section>
	</body>
</html>
